{{ define "main" }}
  {{- partial "intro.html" . -}}
  <!-- {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
  <h1> Ongoing Projects </h1>
  {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
  <div class="container p-0 grid grid-cols-1 lg:gap-0">
      {{- partial "blog-card.html" . -}}
    {{ end }}
  </div> -->
  
  {{ $artwork := .Site.Params.artworkHighlight | default "blog" }}
  <h1 class="text-2xl font-bold mb-4;" style="padding: 2%;"> Artwork Gallery </h1>
  {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $artwork)  }}
  <div class="container p-0 grid grid-cols-1 lg:gap-0">
      {{- partial "blog-card.html" . -}}
    {{ end }}
  </div>

  {{ $ongoing := .Site.Params.ongoingProject | default "blog" }}
  <h1 class="text-2xl font-bold mb-4;" style="padding: 2%;"> Ongoing Projects </h1>
  {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $ongoing)  }}
  <div class="container p-0 grid grid-cols-1 lg:gap-0">
      {{- partial "blog-card.html" . -}}
    {{ end }}
  </div>

  {{ $project := .Site.Params.project | default "blog" }}
  <h1 class="text-2xl font-bold mb-4;" style="padding: 2%;"> Projects </h1>
  <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $project)  }}
      {{- partial "blog-card-original.html" . -}}
    {{ end }}
  </div>

  {{ $artworkBlog := .Site.Params.artworkBlog | default "blog" }}
  <h1 class="text-2xl font-bold mb-4;" style="padding: 2%;"> Artwork Blogs </h1>
  <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $artworkBlog)  }}
      {{- partial "blog-card-original.html" . -}}
    {{ end }}
  </div>

  {{ $ICWBlogs := .Site.Params.ICW | default "blog" }}
  <h1 class="text-2xl font-bold mb-4;" style="padding: 2%;"> In a Corner of the World Blogs </h1>
  <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $ICWBlogs)  }}
      {{- partial "blog-card-original.html" . -}}
    {{ end }}
  </div>

  {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
  <h1 class="text-2xl font-bold mb-4;" style="padding: 2%;"> Blogs </h1>
  <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {{ range first 6 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
      {{- partial "blog-card-original.html" . -}}
    {{ end }}
  </div>

  {{ if gt (len (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)) 6 }}
  <div class="text-center mb-8">
    <a class="px-8 py-3 rounded transition-colors {{ .Site.Params.ascentColor | default "bg-pink-50" }}
      text-gray-500 hover:text-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:text-white"
      href="{{ (index (.Site.Menus.main) 0).URL | absLangURL }}" lang="{{ .Lang }}">
      {{ i18n "morePosts" }}
    </a>
  </div>
  {{ end }}

  {{- partial "social.html" . -}}
{{ end }}
